<!-- card validation -->
{{#x-form type="credit-card" as |form validation progress|}}

  <div {{bind-attr class=":cc-outer form.type"}}>
    <div class="background">
      <div class="cc-inner">
        {{input value=form.number class="spec-cc-input cc-number" placeholder="4111111111111111"}}
        {{input value=form.exp class="spec-cc-exp cc-exp" placeholder="EXP"}}
        {{input value=form.ccv class="spec-cc-ccv cc-ccv" placeholder="CCV"}}
        {{input value=form.name class="spec-cc-name cc-name" placeholder="YOUR NAME"}}
        <button class="spec-pay-button" {{bind-attr disabled="validation.isNotFulfilled"}} {{action "submitCard" form}}>Pay!</button>
      </div>
    </div>
  </div>

  {{input type="checkbox" checked=validation.number.isFulfilled disabled=true}} Valid Card? ({{progress.fulfilled.percentage}}%)
  <ul>
    <li>{{input type="checkbox" checked=validation.number.rules.isLongEnough.isFulfilled disabled=true}} Long Enough?</li>
    <li>{{input type="checkbox" checked=validation.number.rules.passesLuhnCheck.isFulfilled disabled=true}} Pass Luhn Check</li>
  </ul>
{{/x-form}}
