<!-- card validation -->
<p>Card Number:</p>
{{input value=form.number}}
<br/>
{{input type="checkbox" checked=validation.number.isFulfilled disabled=true}} Valid Card? ({{progress.fulfilled.percentage}}%)
<ul>
  <li>{{input type="checkbox" checked=validation.number.rules.isLongEnough.isFulfilled disabled=true}} Long Enough?</li>
  <li>{{input type="checkbox" checked=validation.number.rules.passesLuhnCheck.isFulfilled disabled=true}} Pass Luhn Check</li>
</ul>

{{form.type}}
<p>Name:</p>
{{input value=form.name class="spec-cc-name"}}
<p>Expiration:</p>
{{input value=form.expirationDate class="spec-cc-exp"}}
<p>CCV:</p>
{{input value=form.ccv class="spec-cc-ccv"}}
<button class="spec-pay-button" {{bind-attr disabled="validation.isFulfilled"}} {{action "submitCard" form}}>Pay!</button>
